.edittask-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-bottom: 0.5rem;
    width:100%;
}
.edittask-content {
    font-size: 15px;
    color: gray;
    margin-bottom: 0.5rem;
}
.edittask-contentBox{
    margin-bottom: 1rem;
}
.tasklist-edit-icon{
    color:#04385a;
    cursor: pointer;
}