.wrapper{
    margin-top: 10px;
    padding: 15px 5%;
    background: #fcfcfe;
}
.batch-heading-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:30px;
    border-bottom:1.5px solid #ced4da;
    
}
.batch-heading-name{
    font-size:30px;
    font-weight:600;
    color:#2199c8;
}
.batch-detail{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    margin-bottom:30px;
    font-size:25px;
    color:#155f9b;
    font-weight:600;
}
.batch-name{
    font-size:15px;
    color:gray;
}
.batch-input-width{
    max-width:60%;
    min-width:40%;
}
.batch-submit-btn{
    margin-top:80px;
    margin-bottom: 80px;
}
.batch-display-outer {
    max-height: 430px;
    overflow: overlay;
}
.batch-display-inner{
    display:flex;
     flex-wrap:wrap;
     width:100%;
    }
 .batch-card{
  min-width:30%;
  max-width:40%;
  margin:10px;
 }   
 .batch-card-content{
    display:flex;
    justify-content:flex-start;
    align-items:center;
 }
 .batch-card-content-name{
    font-size:15px;
    color:gray;
    margin-right:10px;
    font-weight:700;
    min-width: 87px;
 }
 .batch-card-content-value{
    font-size:18px;
    color:#0096fb;
    font-weight:600;
    letter-spacing:1px;
    max-width: 75px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
 .batchbox{
    border-radius: 4px;
    padding:15px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    width: 85%;
}

.batchbox:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
@media screen and (max-width: 774px) {
    .batch-display-inner{
        display:flex;
        flex-direction: column;
         width:100%;
        }
    .batch-card{
        min-width:80%;
        margin: 10px 28px 10px 28px;
    }       
   
}