.import-icon {
    font-size: 20px;
    color: whitesmoke;
}

.import-title {
    font-size: 20px;
    color: #2199c8;
    font-weight: 600;
}

.import-head {
    padding: 1rem 1.5rem 0.5rem;
}

.import-head .close {
    padding: 1.5rem 1rem 0.4em !important
}

.imp-btn-name {
    margin-left: 7%;
}

.imp-btn {
    display: flex;
    align-items: center;
    background-color: #2199c8 !important;
    border-color: #2199c8 !important;
    padding: 4px 9px 4px 6px !important;
}

.imp-btn:focus {
    border-color: none !important;
    box-shadow: none !important;
}

.MuiIconButton-colorPrimary {
    color: #2da68a !important;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
    outline: solid #2da68a 1px !important;
    outline-offset: -1px;
}

.MuiDataGrid-cell {
    min-height: 32px !important;
    max-height: 32px !important;
    display: flex !important;
    align-items: center !important;
}

.MuiDataGrid-row {
    min-height: 32px !important;
    max-height: 32px !important;

}

.modal-width {
    .modal-dialog {
        max-width: 54rem !important;
    }
}

.modal-batch-body {
    padding: 0.5rem 1.5rem;
}

.react-bs-container-body {
    height: 100%;
    max-height: 21.5rem;
    min-height: 20.5rem;
    overflow: overlay;
    overflow-x: hidden;
}

.dropdown-toggle {
    visibility: hidden !important;
}

.react-bs-container-body {
    .table td {
        padding: 0.2rem !important;
    }

    .table-bordered td {
        border: none !important;
        border-bottom: 1px solid #dee2e6 !important;
    }
}

.table-header-wrapper {
    .table th {
        padding: 0.2rem !important;
    }

    .table-bordered th {
        border: none !important;
        border-bottom: 2px solid #dee2e6 !important;
    }
}

.react-bs-table-pagination {
    margin-top: 10px !important;
}

.react-bs-table-pagination {
    .row {
        margin-top: 0px !important;
    }
}

.modal-body span {
    margin: 0px !important;
    color: white !important;
}

.filter {
    max-width: 90% !important;
}

.table-header-name {
    font-size: 15px;
    color: gray;
    font-weight: 400 !important;
}

.imp-btn-company {
    background-color: #2da68a !important;
    display: flex;
    min-width: 27%;
    color: white;
    padding: 7px 12px;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin: 0px !important;
    border-color: #2da68a;

}

.imp-btn-company {
    .label-imp {
        margin: 0px !important;
        margin-left: 5% !important;
        cursor: pointer;
        min-width: 9rem;
    }
}

.batch-submit-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.text-filter:focus {
    box-shadow: none !important;
}