.profile-row {
  display: flex;
  margin: 10px;
}

.profile-update-button {
  margin-top: 10px;
}

.profile-images-row {
  display: flex;
  margin: 10px;
}

.profile-image {
  text-align: center;
}

.ant-input-suffix {
  color: $color-oceanBlue !important;
  cursor: pointer !important;
}

.profile-image-container {
  .d-flex {
    justify-content: space-evenly !important;
  }
}