.card-container-update {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 55vh;
}

.reset-title {
  text-align: center;
}

.update-password-logo {
  display: flex;
  justify-content: center;
}

.update-password-jumbotron {
  background-image: url('../images/login_image.png');
  background-color: #50bfa5;
  height: 100vh;
}

.reset-password-card {
  height: 26em;
}