.enter-otp-text {
    color: #3aaa9b;
}

.otp-input {
    margin: 2%;
    color: #3aaa9b;
}

.otp-resend {
    vertical-align: 0% !important;
    font-weight: 600 !important;
    margin-left: 0% !important;
}

.otp-input-container {
    justify-content: center !important;
}

.otp-input-style {
    width: 2.2em !important;
    height: 2.2em !important;
    font-weight: bold;
    font-size: 1.2em;
}