.row-pillar {
  display: flex;
  align-items: center;
  margin: 2rem 0rem 0rem 0rem;
  font-size: $font-size-medium;
  color: #04385a9e;
  font-weight: bold;
}

.pillar-content {
  font-size: $font-size-medium;
  color: gray;
  margin-bottom: 0.5rem;
}

.inner-pillar-content-mar-bot {
  margin-bottom: 1.5rem;
}

.inner-pillar-content-mar-bot {
  .ant-transfer-list-with-pagination {
    width: 50rem !important;
    height: 27rem !important;
  }
}

.pillar-assign-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pillar-dropdown-alert {
  .css-yk16xz-control {
    border-color: $color-borderRed !important;
  }
}