.row-pillar{
    display: flex;
    align-items: center;
    margin: 2rem 0rem 0rem 0rem;
    font-size: 1rem;
    color: #04385a9e;
    font-weight: bold;
    font-family: 'Roboto';
}
.pillar-content {
    font-size: 15px;
    color: gray;
    margin-bottom: 0.5rem;
}
.inner-pillar-content-mar-bot{
    margin-bottom:1.5rem;
}

.inner-pillar-content-mar-bot{
.ant-transfer-list-with-pagination{
    width:50rem !important;
    height:27rem !important;
}
}

.pillar-assign-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pillar-dropdown-alert {
    .css-yk16xz-control {
        border-color: #dc3545 !important;
    }
}