.calculate-projectile-table
    .MuiTableCell-root{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-left: 0% !important;
        padding-right: 0% !important;
}

.calculate-projectile-table
    .MuiTableSortLabel-root{
    width: 90px !important;
}

.calculate-projectile-table{
    margin-top: 20px;
}

.projected-avg{
  font-size: 0.85rem !important;
}