.upload-container {
    padding: 20px;
}

.upload-button-container {
    display: flex;
    justify-content: center;
}

.upload-data-button {
    display: flex;
    align-items: center;
    background-color: $color-oceanBlue !important;
    border-color: $color-oceanBlue !important;
    padding: 2px 14px 2px 13px !important;
    margin-top: 20px !important;
}