.datapage-main{
    display: flex;
    padding: 40px 5%;
    background-color: #f0f0f0;
    flex-direction: column;
    height: 100%;
}
.datapage-info-group{
    padding: 20px 2%;
    background-color: #fff;
}
.datapage-horizontalLine{
    border-bottom: 2px solid #e6e9ee;
    margin: 1% 0 2% 0;
}
.datapage-datepicker{
    width: 100%;
}

.datapage-button-wrap{
    justify-content: center;
    display: flex;
    margin-top: 3%;
}