.onboarding-form {
    margin: .7rem 0;
    padding-left: 4%;
}

.personal-content,
.proof-content,
.login-content {
    margin-top: 5%;

    .personal-details,
    .proof-details,
    .logincred-details {
        width: 100%;
        margin: .7rem 0;
        padding: 4%;
    }
}

.personal-text,
.proof-text,
.logincred-text {
    color: #6ab649;
    margin-bottom: 5%;
}

.back,
.save-continue {
    background-color: #2199c8 !important;
    border-color: #2199c8 !important;
    color: #ffffff !important;

    &.hover,
    &:hover {
        text-decoration: none !important;
    }
}

.company-drop-down {
    min-width: 100% !important;
    border-radius: 7px !important;
    padding: 4px 50px 8px 11px !important;
    cursor: pointer;
}

.drop-down-company-menu {
    max-height: 300px !important;
}

.display-hidden {
    display: none;
}

.client-proof-upload {
    min-height: 4.2em;
}

.steps-content {
    background-color: #2199c8 !important;
}

._2Jtxm._35Ago ._2kL0S {
    background-color: #2199c8 !important;
    color: #fff !important;
}
