.onboarding-form{
    margin: .5rem 0;
}
.personal-details,
.proof-details,
.logincred-details{
    width: 100%;
    margin: .7rem 0;
    padding: 4%;
}
.personal-text,
.proof-text,
.logincred-text{
    color: #155F9B;
    margin-bottom: 5%;
}

.proof-details{
    width: 100%;
    padding: 4%;
    margin: auto;
}

.save-btn{
    align-items: right;
    background-color: #155F9B !important;
    border-color:#155F9B !important;
}

.btn-back{
    outline: #03365f !important;
}

.display-hidden{
    display: none;
}

// progressbar
._3uApM {
    display: none !important;
    display:disabled;
}
._53Ji7 {
    margin: 10px !important;
    padding: 10px !important;
}
