.taxonomy-icons-container {
    display: flex;
    justify-content: flex-end;
    color: #2199c8;
}

.taxonomy-icon {
    margin-right: 15px;
    margin-top: 15px;
}

.input-taxonomy {
    text-align: center;
    height: 6vh;
    font-weight: bold;
}

.taxonomy-button-container {
    display: flex;
    justify-content: flex-end;
}

.taxonomy-btn {
    display: flex;
    align-items: center;
    background-color: #2199c8 !important;
    border-color: #2199c8 !important;
    padding: 2px 14px 2px 13px !important;
    margin-right: 10px;
}

.taxonomy-checkbox-container {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
}

.taxonomy-checkbox-mandatory-container {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
    height: 20px;
}

.taxonomy-checkbox {
    width: 15px;
    height: 15px;
}

.taxonomy-submit {
    display: flex;
    justify-content: center;
    width: 100%;
}

.taxonomy-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2%;
    border-top: 2px solid #f8f9fa;
    background: white;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
}

.taxonomy-popup-row {
    margin-top: 10px !important;
}