.taxonomy-icons-container {
    display: flex;
    justify-content: flex-end;
    color: #2199c8;
}

.taxonomy-icon {
    margin-right: 15px;
    margin-top: 15px;
}

.input-taxonomy {
    text-align: center;
    height: 10vh;
    font-weight: bold;
}

.submit-taxonomy-btn {
    display: flex;
    justify-content: center;
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 2%;
    background-color: #2199c8;
}