.forgot-password-message {
  text-align: center;
  color: #8d8d8d;
  font-size: small;
}

.forgot-password-resend {
  vertical-align: 0% !important;
  font-weight: 600 !important;
  color: $color-oceanBlue !important;
  cursor: pointer;
}