.reports-tabs-stack {
  height: 2em;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2%;
  justify-content: space-evenly;
}

.download-icon {
  color: #2da68a;
  cursor: pointer;
}


