.reports-tabs-stack {
  height: 2em;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2%;
  justify-content: space-evenly;
}

.download-icon,
.view-icon {
  cursor: pointer;
}

.reports-view-btn {
  align-items: center;
  background-color: #2199c8 !important;
  border-color: #2199c8 !important;
  padding: 2px 14px 2px 13px !important;
}

.reports-download-icon {
  cursor: pointer;

  &:hover {
    color: #2199c8;
  }
}

.backword-icon {
  cursor: pointer;
  position: absolute;
  top: -1.5em;
  left: 1em;
}

.choose-reports-taxonomy {
  width: 12em;
}

.view-checked-company-reports {
  position: absolute;
  margin-top: 1.2vw;
  background-color: #2199c8 !important;
  border-color: #2199c8 !important;
  padding: 2px 14px 2px 13px !important;
}