.primary-button {
    background-color: #2199c8 !important;
    border: #2199c8 !important;
    margin-left: 1rem;
}

.secondary-button {
    background-color: #50bfa5 !important;
    border: #50bfa5 !important;
    margin-right: 1rem;
}

.no-border {
    border: none;
}

.overlay-pageloader > .Dot-loader {
  height: 4em !important;
  margin-bottom: 2em !important;
}