.login-container {
    width: 100%;
    display: flex;
    padding-left: auto !important;
    padding-right: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    overflow-y: hidden;
}

.banner-image {
    background-color: #50bfa5;
    width: 100%;
    border-radius: .5em;
}

.banner-container {
    background-color: #50bfa5 !important;
    height: 39rem;
    border-radius: .5em;
}

.card-container {
    padding: 40px 40px;
}

.card-styles {
    padding: 5%;
}

.form-details {
    margin-top: 19%;
    right: 2%;
}

.border-danger:focus {
    border-color: #80bdff !important;
}

.login-button {
    background-color: #2199c8 !important;
    border: #2199c8 !important;
}

.forgot-password {
    color: #2199c8 !important;
    cursor: pointer;
}