@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.dashboard-main{
    display: flex;
    padding: 30px 5%;
    flex-direction: column;
    flex-grow: 1;
}
.dashboard-label{
    font-family: 'Roboto', sans-serif;
    color: #2da68a;
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
    margin: 30px 0px;
}

.dashboard-container{
    margin: 20px 0;
}

.dashboard-container-label{
    // text-align: left;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 480;
    display: flex;
}

.dashboard-cardstack{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.dashboard-card-wrapper{
    margin: 20px 0;
}

.dashboard-card{
    height: 105px;
    width: 100%;
    max-width: 250px;
    min-width: 205px;
    background-color: #ffffff;
    display: flex;
    padding: 0 15px;
    flex-direction: row;
}
.dashboard-card-avatar{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-card-labelset{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}
.dashboard-card-labelvalue{
    color: #155f9b;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.dashboard-card-labeltext{
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    height: 38px;
    overflow: hidden;
    text-align: end;
}