.validation-radio,
.valide-type-na {
  height: 1rem;
  width: 1rem;
  width: 40%;
  text-align: center;
}

.radio-value {
  width: 60%;
}

.validation-table td {
  padding: 0px !important;
  vertical-align: top;
  // border:1px solid #ced4da !important;
  border-color: #cccccc;
}

.type-btn {
  &:hover {
    font-weight: bold;
  }
}

div[disabled] {
  pointer-events: none;
  opacity: 0.7;
}