.validation-radio,
.valide-type-na {
  height: 1rem;
  width: 1rem;
  width: 40%;
  text-align: center;
}

.radio-value {
  width: 60%;
}

.validation-table td {
  padding: 0px !important;
  vertical-align: top;
  // border:1px solid #ced4da !important;
  border-color: #cccccc;
}

.tabledata-container {
  width: 75%;
  display: flex;
  justify-content: space-between;

  .validation-status {
    width: 5em;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
  }

  .type-btn {
    &:hover {
      font-weight: bold;
    }
  }
}

.edit-icon-container {
  width: 25%;
  text-align: center;
  margin: auto;

  .type-edit {
    cursor: pointer;
  }
}

.na-button {
  background: #2da68b !important;
  border-color: #2da68b !important;
}

div[disabled] {
  pointer-events: none;
  opacity: 0.7;
}