.task-main{
    display: flex;
    padding: 40px 5%;
    background-color: #f0f0f0;
    flex-direction: column;

}

.task-tabs-wrap{
    display: flex;
    flex: wrap;
    margin: 30px 0;
}

.task-tabs{
    padding: 5px;
    width: 160px;
    background-color:rgb(255, 255, 255);
    color: rgb(33, 153, 200);;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
    margin: 1px;
    cursor: pointer;
}
.active{
    background-color: rgb(33, 153, 200);
    color: rgb(255, 255, 255);
} 

.task-info-group{
    padding: 20px 2%;
    background-color: #fff;
}

.task-id-year-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
}

.task-year{
    width: 130px;
}
.task-table-col{
    z-index: 0;
}

.task-button-wrap{
    justify-content: center;
    display: flex;
    margin-top: 3%;
}
// TASK TABLE STYLES
.task-table-label{
    padding: 20px;
    font-weight: 600;
}
.task-table-label-search-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 600px;
}