.error-page {
  width: 70%;
  margin: auto;
  text-align: center;

  p {
    font-weight: 500;
    font-size: $font-size-x-large;
    line-height: 1.166667;
    margin: 0;
    top: 10px
  }

  h3 {
    margin: 3%
  }
}