.card-view {
    margin: 0px auto;
    width: 88% !important;
    margin-bottom: 6%;
    min-width: 140px;
}

.view-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0% 0% 2% 2%;
}

.batch-view-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 0% 2% 1%;
}

.task-row {
    margin: 0px !important;
}

.row-pad {
    padding: 2% 2% 0% 0%;
}

.radio-select {
    margin: 0px auto;
    width: 98%;
}

.tab-select {
    margin: 0px auto;
    width: 98%;
}

.task-foo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-bottom {
    margin-bottom: 0px !important;
}

.row-pillar {
    display: flex;
    flex-direction: row !important;
}

.task-role {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
    margin: 0% 0% 1% 0%;
}

.task-role-analystsla {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
    margin: 0% 0% 2% 0%;
}

.task-role-analyst {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
    margin: 0% 0% 1% 0%;
}

.taskcreate-head {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #2da68a;
    font-weight: bolder;
    padding: 5% 0% 6% 0%;
}

.groupbox:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.group-card-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.groupbox {
    border-radius: 4px;
    padding: 8px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
    width: 85%;
}

.group-card-content-name {
    font-size: 15px;
    color: gray;
    margin-right: 2%;
    font-weight: 700;
    // min-width: 87px;
}

.group-card-content-value {
    font-size: 18px;
    color: #0096fb;
    font-weight: 600;
    letter-spacing: 1px;
    // min-width:100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date-picker {
    width: 100%;
    padding: 7px 11px 7px !important;
    border-radius: 4px !important;
}

.mar-right {
    margin-right: 2%;
}

.MuiChip-root {
    border-radius: 0px !important;
}

.chip-space-bwt {
    margin-right: 2.5%;
}

.align-chip {
    display: flex;
}

.task-wrapper {
    padding: 6% 4% 6% 4%;
    height: 100%;
}

.background-task-view {
    background: #f0f0f0;
}

.grp-mar-top {
    margin-top: 2%;
}

.MuiInputBase-input {
    color: #2da68a !important;
}

.MuiButton-root {
    background-color: #2199c8 !important;
}

.batch-year-head {
   margin-right:5px;
    color: gray;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-family: sans-serif;
}
.content-info {
    font-size: 15px;
    color: #dc3545;
}

.MuiListItemText-multiline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px !important;
}

.date-picker-outer {
    display: flex;
    margin-bottom: 5%;
}

.date-picker-inner {
    margin: 0px auto;
    width: 48%;
}

.ant-checkbox-group {
    display: flex !important;
    justify-content: space-between;
}

.radio-select {
    .ant-checkbox-group-item {
        font-size: 1.1rem !important;
        color: #2199c8 !important;
        font-weight: 600 !important;
    }
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 1%;
    color: #2199c8;
    // border-bottom: 2px solid #e9ecef;
    // min-height: 4.5rem;    
}

.MuiListItemText-root {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.ant-radio-wrapper {
    font-size: 15px;

}
.task-divider{
    border-top: 3px solid rgba(0, 0, 0, 0.06);
    margin: 0px !important;
}

.head-tab-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 0% 3% 1%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: white;
}
// dummy css

.date-picker-analyst {
    width: 40%;
    margin-bottom: 2rem;
}

.analystQa-table {
    .ant-table-thead>tr>th {
        background-color: #2da68a !important;
        color: white;

    }

}

.task-pillar-select {
    .ant-radio-wrapper {
        color: #04385a !important;
        font-size: 1.2rem !important;
        margin: 0px !important;
        margin-right: 1rem !important;
    }

    // .ant-radio-group {
    //     margin-top: 1rem !important;
    //     margin-bottom: 1rem !important;
    // }
}

.grp-batch-name {
    background-color: #04385a;
    padding: 8% 10% 10% 15%;
    font-size: 1.2rem;
    color: white;
}

.detail-task-tab {
    .ant-tabs-tab-btn {
        font-size: 1rem !important;
    }
}

.tab-select {
    padding: 8px 25px 0px 25px !important;
    border: 1px solid #88888861 !important;
    border-radius: 10px !important;

}

.tab-select {
    .ant-tabs-nav {
        margin-bottom: 2rem;
    }
}

.companylist-task {
    .react-bs-table-container {
        width: 100% !important;
    }
}

.select-taxonomy {
    margin-left: 10px;
    width: 40%;
}

.task-page-card {
    min-height: 30rem !important;
    margin: 0px auto;
    padding-top:2%;
}