.heading{
    font-size: 13px;
    color:gray;
}
.modal-content{
    margin:14px 0px 17px 0px;
    border: none;
}
.min-height-dropdown{
    min-height: 180px;
}
.head-dp{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}
.modal-title{
    font-size: 15px;
    color: #2199c8;
    font-weight: 600;
}
.setting-icon{
    font-size: 14px;
    color: #2199c8;
    margin-top: 5px;
    margin-right: 5px;
}
.heading-name{
    font-size: 14px;
}
.heading-email{
    font-size: 14px;
}
.close{
    padding:0.9rem 1rem 0.4rem  !important;
}