.heading{
    font-size: 13px;
    color:gray;
}
.modal-content{
    margin:14px 0px 17px 0px;
    border: none;
}
.min-height-dropdown{
    min-height: 100px;
}
.head-dp{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}
.modal-title{
    font-size: 15px;
    color: #2199c8;
    font-weight: 600;
}
.setting-icon{
    font-size: 14px;
    color: #2199c8;
    margin-top: 5px;
    margin-right: 5px;
}
.heading-name{
    font-size: 14px;
}
.heading-email{
    font-size: 14px;
}
.close{
    padding:0.9rem 1rem 0.4rem  !important;
}
.status-rolepillar{
    
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.status-minheight{
    min-height: 80px;
}
.modal-head{
   padding: 1rem 1.5rem 0.5rem;
}
.sideMenu-rolebtn{
    min-width: 220px;
    min-height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0 ;
    outline: none;
    text-decoration: none !important;
}
.sideMenu-btn-rolelabel {
    font-size: 15px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    color: ghostwhite;
    margin: 0 0 0 30px;
}
.sideMenu-rolebtn:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.055);
}
.role-icon{
    width: 24px !important;
    height: 24px !important;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    color: ghostwhite;
    margin: 0 0 0 20px;
}